/* DISCOVER */
.scale-line-in-vert {
	-webkit-animation: scale-in-ver-center 0.5s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-ver-center 0.5s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top-scroll {
    -webkit-animation: slide-in-top-200 1s ease-out both;
            animation: slide-in-top-200 1s ease-out both;
}

@-webkit-keyframes slide-in-top-200 {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top-200 {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom-scroll {
    -webkit-animation: slide-in-bottom-200 1s ease-out both;
            animation: slide-in-bottom-200 1s ease-out both;
}

@-webkit-keyframes slide-in-bottom-200 {
    0% {
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom-200 {
    0% {
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.slide-out-top-scroll {
    -webkit-animation: slide-out-top-200 1s ease-out backwards;
            animation: slide-out-top-200 1s ease-out backwards;
}

@-webkit-keyframes slide-out-top-200 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes slide-out-top-200 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
}

@-webkit-keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
    }
}

.slide-basic_info-out-overlay {
	-webkit-animation: slide-out-left 0.25s ease-out both;
	        animation: slide-out-left 0.25s ease-out both;
}

.slide-line-out-overlay {
	-webkit-animation: slide-out-left 0.25s ease-out both;
	        animation: slide-out-left 0.25s ease-out both;
}

.slide-desc-out-overlay {
	-webkit-animation: slide-out-left 0.25s ease-out both;
	        animation: slide-out-left 0.25s ease-out both;
}

.slide-content-out-overlay {
    -webkit-animation: slide-out-left 0.25s ease-out both;
            animation: slide-out-left 0.25s ease-out both;
}

.slide-signature-out-overlay {
    -webkit-animation: slide-out-left 0.25s ease-out both;
            animation: slide-out-left 0.25s ease-out both;
}
  
@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
}
  
@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
}

.slide-basic_info-in-initial {
	-webkit-animation: slide-in-left-short 0.3s ease-out 0.3s both;
	        animation: slide-in-left-short 0.3s ease-out 0.3s both;
}

@-webkit-keyframes slide-in-left-short {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left-short {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-basic_info-in-overlay {
	-webkit-animation: slide-in-left 0.25s ease-out both;
	        animation: slide-in-left 0.25s ease-out both;
}

.slide-line-in-overlay {
	-webkit-animation: slide-in-left 0.25s ease-out both;
	        animation: slide-in-left 0.25s ease-out both;
}

.slide-desc-in-overlay {
	-webkit-animation: slide-in-left 0.25s ease-out both;
	        animation: slide-in-left 0.25s ease-out both;
}

.slide-content-in-overlay {
    -webkit-animation: slide-in-left 0.25s ease-out both;
            animation: slide-in-left 0.25s ease-out both;
}

.slide-signature-in-overlay {
    -webkit-animation: slide-in-left 0.25s ease-out both;
            animation: slide-in-left 0.25s ease-out both;
}

.slide-image-in-overlay {
    -webkit-animation: slide-in-left 0.25s ease-out both;
            animation: slide-in-left 0.25s ease-out both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
}

.slide-in-right-overlay-items {
	-webkit-animation: slide-in-right 0.25s ease-out both;
	        animation: slide-in-right 0.25s ease-out both;
}

.slide-desc-in-initial{
    -webkit-animation: slide-in-right 0.4s ease-out 0.4s both;
            animation: slide-in-right 0.4s ease-out 0.4s both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-overlay-items {
    0% {
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-overlay-items {
    0% {
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-nav-in-scroll{
	-webkit-animation: slide-in-left-300 1s ease-out;
	        animation: slide-in-left-300 1s ease-out;
}

.slide-image-in-scroll{
	-webkit-animation: slide-in-left-500 1s ease-out;
	        animation: slide-in-left-500 1s ease-out;
}

.slide-image-in-initial{
	-webkit-animation: slide-in-left-500 1s ease-out;
	        animation: slide-in-left-500 1s ease-out;
}

@-webkit-keyframes slide-in-left-300 {
    0% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left-300 {
    0% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left-500 {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left-500 {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-nav-out-scroll{
    -webkit-animation: slide-out-left-300 1s ease-out backwards;
            animation: slide-out-left-300 1s ease-out backwards;
}

@-webkit-keyframes slide-out-left-300 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        opacity: 0;
    }
}

@keyframes slide-out-left-300 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        opacity: 0;
    }
}

.slide-contact-in-scroll {
	-webkit-animation: slide-in-right-300 1s ease-out both;
	        animation: slide-in-right-300 1s ease-out both;
}

.slide-desc-in-scroll {
	-webkit-animation: slide-in-right-500 1s ease-out both;
	        animation: slide-in-right-500 1s ease-out both;
}

@-webkit-keyframes slide-in-right-300 {
    0% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right-300 {
    0% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-right-500 {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right-500 {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-contact-out-scroll {
	-webkit-animation: slide-out-right-300 1s ease-out backwards;
	        animation: slide-out-right-300 1s ease-out backwards;
}

@-webkit-keyframes slide-out-right-300 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
}

@keyframes slide-out-right-300 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        opacity: 0;
    }
}

.slide-main-in-scroll {
    -webkit-animation: slide-in-top-200 1s ease-out both;
            animation: slide-in-top-200 1s ease-out both;
}

@-webkit-keyframes slide-in-top-200 {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top-200 {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.slide-main-out-scroll {
    -webkit-animation: slide-out-top-200 1s ease-out backwards;
            animation: slide-out-top-200 1s ease-out backwards;
}

.slide-image-out-scroll {
    -webkit-animation: slide-out-top-200 1s ease-out backwards;
            animation: slide-out-top-200 1s ease-out backwards;
}

.slide-desc-out-scroll {
    -webkit-animation: slide-out-top-200 1s ease-out backwards;
            animation: slide-out-top-200 1s ease-out backwards;
}

@-webkit-keyframes slide-out-top-200 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes slide-out-top-200 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
    }
}

.slide-gesture-in-scroll {
    -webkit-animation: slide-in-top-50 1s ease-out both;
            animation: slide-in-top-50 1s ease-out both;
}

@-webkit-keyframes slide-in-top-50 {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top-50 {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.slide-gesture-out-scroll {
    -webkit-animation: slide-out-top-50 1s ease-out backwards;
            animation: slide-out-top-50 1s ease-out backwards;
}

@-webkit-keyframes slide-out-top-50 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes slide-out-top-50 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
}

.show-header {
    -webkit-animation: show 1s ease-out both;
            animation: show 1s ease-out both;
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* INDEX EVENTS */

.slide-nav-in-overlay{
	-webkit-animation: slide-in-left-500 0.125s forwards;
	        animation: slide-in-left-500 0.125s forwards;
}

.slide-main-in-overlay{
	-webkit-animation: slide-in-left-500 0.125s forwards;
	        animation: slide-in-left-500 0.125s forwards;
}

.slide-contact-in-overlay{
	-webkit-animation: slide-in-left-500 0.125s forwards;
	        animation: slide-in-left-500 0.125s forwards;
}

.slide-content-out-overlay{
    -webkit-animation: slide-in-left-500 0.125s forwards;
	        animation: slide-in-left-500 0.125s forwards;
}

@-webkit-keyframes slide-in-left-500 {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left-500 {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.slide-nav-out-overlay{
	-webkit-animation: slide-out-left-500 0.125s forwards;
	        animation: slide-out-left-500 0.125s forwards;
}

.slide-main-out-overlay{
	-webkit-animation: slide-out-left-500 0.125s forwards;
	        animation: slide-out-left-500 0.125s forwards;
}

.slide-contact-out-overlay{
	-webkit-animation: slide-out-left-500 0.125s forwards;
	        animation: slide-out-left-500 0.125s forwards;
}

.slide-image-out-overlay{
    -webkit-animation: slide-out-left-500 0.125s forwards;
	        animation: slide-out-left-500 0.125s forwards;
}

.slide-desc-out-overlay{
    -webkit-animation: slide-out-left-500 0.125s forwards;
	        animation: slide-out-left-500 0.125s forwards;
}

@-webkit-keyframes slide-out-left-500 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
}

@keyframes slide-out-left-500 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
}

.slide-gesture-in-overlay{
	-webkit-animation: slide-in-bot-500 0.125s forwards;
	        animation: slide-in-bot-500 0.125s forwards;
}

@-webkit-keyframes slide-in-bot-500 {
    0% {
        -webkit-transform: translateY(500px);
                transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bot-500 {
    0% {
        -webkit-transform: translateY(500px);
                transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.slide-gesture-out-overlay{
	-webkit-animation: slide-out-bot-500 0.125s forwards;
	        animation: slide-out-bot-500 0.125s forwards;
}

@-webkit-keyframes slide-out-bot-500 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        opacity: 0;
    }
}

@keyframes slide-out-bot-500 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        opacity: 0;
    }
}
  
@-webkit-keyframes slide-in-bot-100vh{
    0% {
        -webkit-transform: translateY(100vh);
                transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
  
@keyframes slide-in-bot-100vh{
    0% {
        -webkit-transform: translateY(100vh);
                transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

/* INDEX EVENTS */
@-webkit-keyframes scroll-gesture{
    0% {
        -webkit-transform: translateY(-36px);
                transform: translateY(-36px);
    }
    50% {
        -webkit-transform: translateY(-36px);
                transform: translateY(-36px);
    }
    100% {
        -webkit-transform: translateY(36px);
                transform: translateY(36px);
    }
}
@keyframes scroll-gesture{
    0% {
        -webkit-transform: translateY(-36px);
                transform: translateY(-36px);
    }
    50% {
        -webkit-transform: translateY(-36px);
                transform: translateY(-36px);
    }
    100% {
        -webkit-transform: translateY(36px);
                transform: translateY(36px);
    }
}

/* CORPORATE MEMBERSHIP */
@-webkit-keyframes stampAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(8) translate(100px, 120px) rotate(60deg);
                transform: scale(8) translate(100px, 120px) rotate(60deg);
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(3) translate(120px, 110px) rotate(60deg);
                transform: scale(3) translate(120px, 110px) rotate(60deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(-30%, 0);
                transform: scale(1) translate(-30%, 0);
    }
}
@keyframes stampAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(8) translate(100px, 120px) rotate(60deg);
                transform: scale(8) translate(100px, 120px) rotate(60deg);
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(3) translate(120px, 110px) rotate(60deg);
                transform: scale(3) translate(120px, 110px) rotate(60deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(-30%, 0);
                transform: scale(1) translate(-30%, 0);
    }
}

@-webkit-keyframes scroll-gesture-desktop{
    0% {
        -webkit-transform: translateY(-56px);
                transform: translateY(-56px);
    }
    50% {
        -webkit-transform: translateY(-56px);
                transform: translateY(-56px);
    }
    100% {
        -webkit-transform: translateY(56px);
                transform: translateY(56px);
    }
}
@keyframes scroll-gesture-desktop{
    0% {
        -webkit-transform: translateY(-56px);
                transform: translateY(-56px);
    }
    50% {
        -webkit-transform: translateY(-56px);
                transform: translateY(-56px);
    }
    100% {
        -webkit-transform: translateY(56px);
                transform: translateY(56px);
    }
}

@-webkit-keyframes scroll-gesture-mobile{
    0% {
        -webkit-transform: translateY(-81px);
                transform: translateY(-81px);
    }
    50% {
        -webkit-transform: translateY(-81px);
                transform: translateY(-81px);
    }
    100% {
        -webkit-transform: translateY(81px);
                transform: translateY(81px);
    }
}
@keyframes scroll-gesture-mobile{
    0% {
        -webkit-transform: translateY(-81px);
                transform: translateY(-81px);
    }
    50% {
        -webkit-transform: translateY(-81px);
                transform: translateY(-81px);
    }
    100% {
        -webkit-transform: translateY(81px);
                transform: translateY(81px);
    }
}
